:root {
    --text-color1: #212121;
    --text-color2: #757575;
    --text-color3: #ffffff;
    --text-color4: #2196f3;
    --background-color1: #f5f4fa;
    --background-color2: #2196f3;
    --background-color3: #2f303a;
}
.logo {
    font-family: 'Raleway';
    color: var(--text-color1);
    text-decoration: none;
    font-size: 26px;
    line-height: 31px;
    font-weight: 700;
}
.header-font {
    color: var(--text-color2);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
/*Tylko numer telefonu nie miał innego stylowania niż reszta elementów footer'a.
Dodatkowo napisałeś mi, że mam nanieść styl css również na index.html co powoduje, że z automatu punkt B12 staje się sprzeczny z logiką.
Footery w figmie różnią się stylowaniem css, który odnosi się do hovera oraz text-decoration emaila, ta różnica sprawiła mi mindf*
na 20 min zanim pojąłem, że to błąd po waszej stronie*/
.footer-font {
    text-decoration: none;
    color: var(--text-color2);
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
}
.address {
    color: var(--text-color3);
    background-color: var(--background-color3);
    text-decoration: none;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
}
.footer-email {
    color: var(--text-color2);
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
}
.footer-email:hover {
    background-color: var(--background-color1);
}
.footer-email:focus {
    background-color: var(--background-color1);
}
.button-hero {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.button {
    background-color: var(--background-color1);
    cursor: pointer;
    font-size: 16px;
    line-height: 162%;
    font-weight: 500;
}
.button:hover,
.button-hero {
    background-color: var(--background-color1);
}
.button:focus,
.button-hero {
    background-color: var(--background-color2);
    color: var(--text-color3);
}
.button:active,
.button-hero {
    background-color: var(--background-color2);
}
.link {
    color: var(--text-color1);
    text-decoration: none;
}
.link:hover {
}
.link:focus {
    background-color: var(--background-color1);
}
.link:active {
    background-color: var(--background-color2);
}
.article-headline {
    color: var(--text-color1);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.article-text {
    color: var(--text-color2);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.product-name {
    color: var(--text-color1);
    font-size: 18px;
    line-height: 36px;
    font-weight: 700;
}
.product-description {
    color: var(--text-color2);
    font-size: 16px;
    line-height: 30px;
}
.employ-name {
    color: var(--text-color1);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.employ-description {
    color: var(--text-color2);
    font-size: 171%;
    line-height: 19px;
}
.hero {
    color: var(--text-color3);
    background-color: var(--background-color3);
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.separator-font {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}
.active-page {
    color: var(--text-color4);
}
